
rust-lang/**/target

c-lang/new/main
nodejs-ts/**/node_modules

deno/Ultra-react-twind/.ultra
deno/test-twi/.env
deno/test-twi/.env.development
php/hoge/foods.sql
php/hoge/foods_add.sql
rust-lang/sqlite-app/sqlite.db
rust-lang/sqlite-app/example_db.db3
dart/hello-dart/bin/hello_dart.exe
dart/hello-dart/bin/hello_dart.jit
dart/hello-dart/out.js
dart/hello-dart/out.js.deps
dart/hello-dart/out.js.map
nodejs-ts/vite-ssr-react
python/Zyugyou/2023-05-06/c01.csv
python/Zyugyou/2023-05-06/multiplication_table.xlsx
python/Zyugyou/2023-05-06/combinedminutes.pdf
python/Zyugyou/2023-05-06/edit.pdf
python/Zyugyou/2023-05-06/edit2.pdf
python/Zyugyou/2023-05-06/encrypted.pdf
python/Zyugyou/2023-05-06/encryptedminutes.pdf
python/Zyugyou/2023-05-06/meetingminutes.pdf
python/Zyugyou/2023-05-06/meetingminutes2.pdf
python/Zyugyou/2023-05-06/output.xlsx
python/Zyugyou/2023-05-06/utf-c01.csv
python/Zyugyou/2023-05-06/watermark.pdf
nodejs-ts/my-foods-next-app/prisma/dev.db
nodejs-ts/my-foods-next-app/prisma/dev.db-journal
scala/main-scala/project/target
scala/main-scala/target
python/hello-fastapi/__pycache__
cpp/sdl/CMakeFiles
cpp/sdl/HelloWorld
cpp/sdl/HelloWorldProject
mc_servers.zip
python/socket/venv
nodejs-ts/scala-js-vite/project/project/target/config-classes
nodejs-ts/scala-js-vite/project/target
nodejs-ts/scala-js-vite/project
ruby/rails-docker/vendor/ruby/3.2.0
ruby/hello/bin
ruby/hello/cache
ruby/hello/extensions/x86_64-linux/3.1.0
ruby/hello/gems
ruby/hello/node_modules
ruby/hello/specifications
